# Игнорирование виртуальной среды Python
venv/
.venv/

# Игнорирование файлов с окружением
.env

# Игнорирование скомпилированных файлов Python
__pycache__/
**/__pycache__/

# Игнорирование настроек проекта для PyCharm
.idea/
**/.idea/

# Игнорирование файлов сессий и временных файлов
*.session*
session.txt

# Игнорирование файлов, созданных Intercom
intercom/

# Игнорирование базы данных SQLite
*sqlite3

# Игнорирование файлов журналов
.DS_Store